.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

.message {
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.cancelButton,
.confirmButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.cancelButton {
    background-color: #ccc;
    color: #375A76;
}

.cancelButton:hover {
    background-color: #b3b3b3;
}

.confirmButton {
    background-color: rgb(177, 32, 32);
    color: white;
}

.confirmButton:hover {
    background-color: rgb(119, 0, 0);
}