.container{
    width: 100%;
    height: 75px;
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo{
    width: 100px;
    height: 100px;
}

.setting{
    width: 35px;
    height: 35px;
}

.container button {
    background-color: var(--vibrante);
    color: var(--background);
    border: none;
    border-radius: var(--curve);
    padding: 10px 20px;
    font-size: var(--h5);
    font-weight: bold;
    filter: var(--sombra-caixa);
    transition: transform 0.7s 
}

.container button:hover{
    transform: scale(1.1) ;
    transition: transform 0.7s 
}

.nav{
    display: flex;
    gap: 80px;
}

.nav_link{
    text-decoration: none;
    color: var(--vibrante);
    font-weight: bold;
    font-size: 20px;
}

.container_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
