* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  /*Cores*/
  --background: #ffffff;
  --cinza: #F2F1F6;
  --azulClaro: #E3F2FF;
  --clean: #84C4FB;
  --vibrante: #146FBA;
  --escuro: #375A76;
  --vermelho: #DE302A;

  /*Sombra*/
  --sombra-caixa: drop-shadow(0 5px 5px rgba(174, 174, 192, 0.75));

  /*Borda*/
  --borda: 1px solid #E4E4E4;
  --curve: 10px

  /*fontes*/
  --h1: 48px;
  --h2: 36px;
  --h3: 24px;
  --h4: 20px;
  --h5: 16px;
}
