.container_home {
    width: 320px;
    filter: var(--caixa);
    border-radius: var(--curve);
    color: var(--escuro);
    position: relative;
    overflow: hidden;
}

.image_container {
    width: 100%;
    height: 170px;
    position: relative;
    border-top-left-radius: var(--curve);
    border-top-right-radius: var(--curve);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px 20px;
    overflow: hidden;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 35%);
    z-index: 1;
    pointer-events: none;
}

.image_container h3 {
    color: var(--background);
    font-size: var(--h4);
    font-weight: normal;
    position: relative;
    z-index: 2;
}

.heart {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.info_home {
    background-color: var(--azulClaro);
    padding: 10px 20px;
    border-bottom-left-radius: var(--curve);
    border-bottom-right-radius: var(--curve);
    height: 150px;
}

.info_group {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    align-items: end;
    gap: 10px;
}

.location {
    display: flex;
    align-items: start;
    margin-bottom: 15px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price h3 {
    font-weight: bold;
    font-size: var(--h3);
}

.more {
    background-color: var(--vibrante);
    color: var(--background);
    border: none;
    border-radius: var(--curve);
    padding: 10px 18px;
    cursor: pointer;
    filter: var(--sombra-caixa);
}