.agenda {
    justify-self: center;
    margin-top: 25px;
    background-color: var(--azulClaro);
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 20px;
    font-size: var(--h2);
    color: var(--escuro);
    font-weight: bold;
}

.form{
    max-height: 75vh;
     overflow-y: auto;
}

.form::-webkit-scrollbar{
    display: none;
}

.perfil{
    font-size: 34px;
    color: var(--escuro);
}

.form { 
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 40px;
    align-items: center;
    padding-top: 30px;
    border: 5px solid var(--clean);
    width: fit-content;
    padding: 36px;
    align-items: start;
    gap: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: var(--escuro);
    font-size: var(--h4);
}


.campo label {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    color: var(--escuro);
}


.form input {
    border: 3px solid var(--azulClaro);
    border-radius: 10px;
    padding: 10px;
    font-size: var(--h4);
    width: 500px;
}

.form input::placeholder {
    justify-self: start;
    color: var(--escuro);
    font-size: var(--h4);
}

.form input:focus {
    outline: var(--escuro);
    box-shadow: var(--escuro);
}

.form input:hover {
    border-color: var(--clean);
}



.form textarea {
    width: 700px;
    border: 3px solid var(--azulClaro);
    border-radius: 10px;
    padding: 10px;
    font-size: var(--h4);
    resize: vertical;
    min-height: 150px;
}

.form textarea::placeholder {
    color: var(--escuro);
    font-size: var(--h4);
}

.form textarea:focus {
    outline: var(--escuro);
    box-shadow: var(--escuro);
}

.form textarea:hover {
    border-color: var(--clean);
}

.campo Select{ 
    color:var(--escuro);
    border:1px solid var(--azulClaro);
    border-color: var(--azulClaro);
}

.check {
    width: 25px;
    height: 25px;
}

.container button {
    background-color: var(--vibrante);
    color: var(--background);
    border: none;
    border-radius: var(--curve);
    padding: 15px 30px;
    font-size: var(--h4);
    margin-left: 280px;
    font-weight: bold;
    margin-top: 50px;
    filter: var(--sombra-caixa);
    transition: transform 0.7s
}

.container button:hover {
    transform: scale(1.1);
    transition: transform 0.7s
}