.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* CARD GERAL COM 3 COLUNAS */
.card {
  display: grid;
  grid-template-columns: 380px 1fr 300px;
  gap: 20px;
  background: var(--cinza);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 1300px;
  align-items: flex-start;
}

.titulo {
  position: relative;
  left: 165px;
  bottom: 30px;
}

.container_visita {
  flex: 1.5;
}

.texto_visita {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

/* TÍTULO */
.titulo {
  font-size: 24px;
  margin-bottom: 10px;
}

/* COLUNA DE OBSERVAÇÕES */
.obs {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.obs textarea {
  width: 100%;
  min-height: 140px;
  resize: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
}

/* BOTÕES */
.btns {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.btns button {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: #0d6efd;
  color: white;
}

.btns button:nth-child(2) {
  background: #6c757d;
}

.btns button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.status span {
  color: #24c71e;
}

.observacoes {
  font-size: 15px;
  padding: 10px;
  border: 1px solid var(--cor-da-borda, #ccc);
  border-radius: 8px;
  min-width: 250px;
  max-width: 250px;
  min-height: 80px;
  max-height: 150px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #ffffff;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}