.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  display: flex;
  gap: 20px;
  background: var(--cinza);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 1300px;
  align-items: flex-start;
}

.titulo {
  position: relative;
  left: 165px;
  bottom: 30px;
}

.container_visita {
  flex: 1.5;
}

.texto_visita {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 35px;
  position: relative;
  right: 155px;
  font-size: 22px;
}

.obs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 75px;
  font-size: 20px;
}

.obs textarea {
  resize: none;
  width: 100%;
  min-height: 140px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
}


.btns {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  align-items: center;
}

.btns button {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btns button:nth-child(2) {
  background: #6c757d;
}

.status {
  position: relative;
  top: 55px;
  display: flex;
  flex-wrap: nowrap;
  font-weight: bold;
  gap: 5px;
}

.status span {
  color: #24c71e;
}

.observacoes {
    font-size: 15px;
    padding: 10px;
    border: 1px solid var(--cor-da-borda, #ccc);
    border-radius: 8px;
    min-width: 250px;
    max-width: 250px;
    min-height: 80px;
    max-height: 150px;
    overflow-x: auto;
    white-space: pre-wrap; 
    word-break: break-word; 
    background-color: #ffffff; 

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}